<%= form_with(model: slide) do |form| %>
  <% if slide.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(slide.errors.count, "error") %> prohibited this slide from being saved:</h2>

      <ul>
        <% slide.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :publication_date, style: "display: block" %>
    <%= form.text_field :publication_date %>
  </div>

  <div>
    <%= form.label :identifier, style: "display: block" %>
    <%= form.text_field :identifier %>
  </div>

  <div>
    <%= form.label :subcollection, style: "display: block" %>
    <%= form.text_field :subcollection %>
  </div>

  <div>
    <%= form.label :image_notes, style: "display: block" %>
    <%= form.text_field :image_notes %>
  </div>

  <div>
    <%= form.label :document_type, style: "display: block" %>
    <%= form.text_field :document_type %>
  </div>

  <div>
    <%= form.label :coverage_spatial, style: "display: block" %>
    <%= form.text_field :coverage_spatial %>
  </div>

  <div>
    <%= form.label :keywords, style: "display: block" %>
    <%= form.text_field :keywords %>
  </div>

  <div>
    <%= form.label :abstract, style: "display: block" %>
    <%= form.text_field :abstract %>
  </div>

  <div>
    <%= form.label :author1_fname, style: "display: block" %>
    <%= form.text_field :author1_fname %>
  </div>

  <div>
    <%= form.label :author1_lname, style: "display: block" %>
    <%= form.text_field :author1_lname %>
  </div>

  <div>
    <%= form.label :calc_url, style: "display: block" %>
    <%= form.text_field :calc_url %>
  </div>

  <div>
    <%= form.label :context_key, style: "display: block" %>
    <%= form.text_field :context_key %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
