<div id="<%= dom_id slide %>">
  <p>
    <strong>Title:</strong>
    <%= slide.title %>
  </p>

  <p>
    <strong>Publication date:</strong>
    <%= slide.publication_date %>
  </p>

  <p>
    <strong>Identifier:</strong>
    <%= slide.identifier %>
  </p>

  <p>
    <strong>Subcollection:</strong>
    <%= slide.subcollection %>
  </p>

  <p>
    <strong>Image notes:</strong>
    <%= slide.image_notes %>
  </p>

  <p>
    <strong>Document type:</strong>
    <%= slide.document_type %>
  </p>

  <p>
    <strong>Coverage spatial:</strong>
    <%= slide.coverage_spatial %>
  </p>

  <p>
    <strong>Keywords:</strong>
    <%= slide.keywords %>
  </p>

  <p>
    <strong>Abstract:</strong>
    <%= slide.abstract %>
  </p>

  <p>
    <strong>Author1 fname:</strong>
    <%= slide.author1_fname %>
  </p>

  <p>
    <strong>Author1 lname:</strong>
    <%= slide.author1_lname %>
  </p>

  <p>
    <strong>Calc url:</strong>
    <%= slide.calc_url %>
  </p>

  <p>
    <strong>Context key:</strong>
    <%= slide.context_key %>
  </p>

</div>
