<!DOCTYPE html>
<html>
  <head>
    <title>Viewer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
     integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
     crossorigin=""/>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <% if content_for :for_head %>
      <%= yield :for_head %>
    <% end %>
  </head>
<% if content_for :above_content
     activatefs=true
   else
     activatefs=false
   end
%>
  <body <% if activatefs %> data-controller="fullscreen" data-action="mousemove->fullscreen#fsMouseWatch" <% end %>>
    <div class="navbox" data-fullscreen-target="navbox">
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="/home">
          <%= image_tag("logo", class: "brand-image") %>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-body" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> 
        <div class="collapse navbar-collapse" id="navbar-body">
          <ul class="navbar-nav" id="navbar-links">
            <li class="nav-item">
              <a class="nav-link active">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"> Browse </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/collections/all">by Collection</a></li>
                <li><a class="dropdown-item" href="/years/all">by Year</a></li>
                <li><a class="dropdown-item" href="/places/all">by Location</a></li>
                <li><a class="dropdown-item" href="/keywords/all">by Keyword</a></li>
                <li><a class="dropdown-item" href="/index/title/0/100">All</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link"> Timeline </a>
            </li>
            <li class="nav-item">
              <a class="nav-link"> About </a>
            </li>
          </ul>
          <div class="search-group">
            <form class="d-flex search-form" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-secondary" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
      <hr class="navline">
    </div>
    <% if content_for :above_content %>
      <%= yield :above_content %>
    <% end %>
    <div class="container" <%if activatefs %> data-fullscreen-target="container" <% end %>>
      <%= yield %>
    </div>
  </body>
</html>
