<%content_for :for_head do %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"> </script>
<% end %>

<% content_for :above_content do %>
    <div class="img-holder carousel slide" id="imgCarousel" onmouseover="addArrows()" onmouseout="removeArrows()">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="<%= @slide.download_link %>" alt="<%= @slide.title%>" class="main-image">
        </div>
      </div>
      <a class="carousel-control-prev" type="button" data-bs-target="#imgCarousel" data-bs-slide="prev" alt="Fullscreen">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a class="carousel-control-next" type="button" data-bs-target="#imgCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
    </div>
<% end %>
  <style>
    body {
      background-color: black;
    }
  </style>

  <div class="row">
    <div class="img-info col-9">
      <h3 class="title"> <%= @slide.cleanTitle %></h3>
    <% if @slide.hasAbstract? %>
      <h5 class="subtitle"> Abstract <hr class="itemline"> </h5>
      <p class="sdesc">
        <%=@slide.cleanAbstract%>
      </p>
    <% end %>
    <% if @slide.hasDescription? %>
      <h5 class="subtitle"> Description <hr class="itemline"> </h5>
      <p class="sdesc">
        <%=@slide.cleanDescription%>
      </p>
    <% end %>
    <% if @slide.hasImageNotes? %>
      <h5 class="subtitle"> Image Notes <hr class="itemline"> </h5>
      <p class="sdesc">
        <%=@slide.cleanImageNotes%>
      </p>
    <% end %>
    <% if @slide.hasCuratorNotes? %>
      <h5 class="subtitle"> Curator Notes <hr class="itemline"> </h5>
      <p class="sdesc">
        <%=@slide.cleanCuratorNotes%>
      </p>
    <% end %>
    </div>
    <div class="img-data col-3">
      <div class="ext-links">
        <a role="button" href="<%= @slide.download_link%>">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-box-arrow-in-down" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M3.5 6a.5.5 0 0 0-.5.5v8a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5v-8a.5.5 0 0 0-.5-.5h-2a.5.5 0 0 1 0-1h2A1.5 1.5 0 0 1 14 6.5v8a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 14.5v-8A1.5 1.5 0 0 1 3.5 5h2a.5.5 0 0 1 0 1z"/>
            <path fill-rule="evenodd" d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
          </svg>
        </a>
        <a role="button" href="">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-box-arrow-up" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M3.5 6a.5.5 0 0 0-.5.5v8a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5v-8a.5.5 0 0 0-.5-.5h-2a.5.5 0 0 1 0-1h2A1.5 1.5 0 0 1 14 6.5v8a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 14.5v-8A1.5 1.5 0 0 1 3.5 5h2a.5.5 0 0 1 0 1z"/>
            <path fill-rule="evenodd" d="M7.646.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 1.707V10.5a.5.5 0 0 1-1 0V1.707L5.354 3.854a.5.5 0 1 1-.708-.708z"/>
          </svg>
        </a>
        <a role="button" href="/fullscreen">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrows-move" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M7.646.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 1.707V5.5a.5.5 0 0 1-1 0V1.707L6.354 2.854a.5.5 0 1 1-.708-.708zM8 10a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 14.293V10.5A.5.5 0 0 1 8 10M.146 8.354a.5.5 0 0 1 0-.708l2-2a.5.5 0 1 1 .708.708L1.707 7.5H5.5a.5.5 0 0 1 0 1H1.707l1.147 1.146a.5.5 0 0 1-.708.708zM10 8a.5.5 0 0 1 .5-.5h3.793l-1.147-1.146a.5.5 0 0 1 .708-.708l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L14.293 8.5H10.5A.5.5 0 0 1 10 8"/>
          </svg>
        </a>
      </div>
      <div class="additional-data">
        <div class="data-item">
          <span class="data-bold"> Identifier </span>
          <span class="data"> <%= @slide.configured_field_t_identifier[0] %></span>
        </div>
        <div class="data-item">
          <span class="data-bold">Collection</span>
          <a class="data" role="button"> <%= @slide.configured_field_t_subcollection[0]%></a>
        </div>
        <div class="data-item">
          <span class="data-bold"> Location </span>
          <a class="data" role="button"> <%= @slide.configured_field_t_coverage_spatial[0] %></a>
        </div>
        <div class="data-item">
          <span class="data-bold"> Year </span>
          <a class="data" role="button"> <%= @slide.year %></a>
        </div>

        <div class="data-item">
          <span class="data-bold"> Keywords </span>
          <span class="data">
          <% @slide.keywords.each do |word| %> 
            <a class="nowrap" role="button" href="../keywords/<%=word%>"> <%= word %></a>,
            <hr class="keyword-sep">
          <% end %>
          </span>
        </div>
        

        <div id="expand-container">
          <div class="expanded" id="expand-contract" >
            <div class="data-item">
              <span class="data-bold">Batch Stamp: </span>
              <a class="data" role="button"> JUL 78 </a>
            </div>
          </div>
        </div>
	<span id="expander" role="button" onclick="expandContract()">+</span>
      </div>
    </div>
  </div>
  <div class="row">
    <% cords=[[37.9838096,23.7275388],[37.9713,23.72518],[37.97029, 23.72779]] %>
    <% labels=["Object Location","Athens","Frieze in Theatre of Dionysus: 160 degrees S"] %>
    <div class="col-9 map-container" data-controller="map" data-map-latlong-value="<%= cords %>" data-map-labels-value="<%=labels%>">
      <div id="map" data-map-target="container">
      </div>
    </div>
    <div class="img-data col-3">
      <div class="location-info">
        <div class="data-item">
          <span class="data-bold"> Identifier </span>
          <span class="data"> <%= @slide.configured_field_t_identifier[0] %></span>
        </div>
      </div>
    </div>
    <script>
      prev=document.querySelector(".carousel-control-prev")
      next=document.querySelector(".carousel-control-next")
      function removeArrows(){
        prev.style.display="none"
        next.style.display="none"
      }
      function addArrows(){
        prev.style.display="flex"
        next.style.display="flex"
      }

      function expandContract() {
        $("#expand-contract").slideToggle(350, function() {
          $("#expander").text(function() {
            return $("#expand-contract").is(":visible") ? "-" : "+";
          });
        });
      };
    </script>
