<%content_for :for_head do %>
<script>
  if (sessionStorage["fullscreen"]=="true"){
    document.querySelector("html").innerHTML = "<div id='blackscreen' style='width:100svw; height: 100svh; background-color:black;postion:fixed; z-index=100'> </div>"+document.querySelector("html").innerHTML;
  }
</script>
<% end %>



<% content_for :above_content do %>
  <div class="above" data-controller="back-forth" data-back-forth-currentid-value="<%=@preview.sorting_number%>">
    <div id="blackbox" data-fullscreen-target="blackbox"></div>
    <div class="img-holder carousel slide" id="imgCarousel" data-fullscreen-target="image" data-action="mouseenter->back-forth#addArrows mouseleave->back-forth#removeArrows">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="<%= @slide.download_link %>" alt="<%= @slide.title%>" class="main-image">
        </div>
        <div class="carousel-item">
          <img alt="Next Preload" class="main-image" data-back-forth-target="fwdimg">
        </div>
        <div class="carousel-item">
          <img alt="Previous Preload" class="main-image" data-back-forth-target="backimg">
        </div>
      </div>
      <% prevNum=@slide.sortingNumber-1%>
      <% nextNum=@slide.sortingNumber+1%>
      <a class="carousel-control-prev" type="button" data-bs-target="#imgCarousel" data-back-forth-target="remove back">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a class="carousel-control-next" type="button" data-bs-target="#imgCarousel" data-back-forth-target="remove fwd">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
    </div>
    <div id="buttons-pane" style="display:none" data-fullscreen-target="buttons">
      <div class="bottomrow bottom-content">
      </div>
      <div class="tophalf">
        <div class="toprow">
          <a class="delete-button btn" id="exit-fullscreen" data-action="click->fullscreen#fsDeactivate">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
              <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
            </svg>
          </a>        
        </div>
        <div class="middlerow">
      <a class="fs-control prev" type="button" data-bs-target="#imgCarousel" data-back-forth-target="back">
        <span class="prev-icon" aria-hidden="true">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
          </svg>
        </span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a class="fs-control next" type="button" data-bs-target="#imgCarousel" data-back-forth-target="fwd">
        <span class="next-icon" aria-hidden="true">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
          </svg>
        </span>
        <span class="visually-hidden">Previous</span>
      </a>
        </div>
      </div>
        <div class="bottomtext bottom-content">
          <h5>
            <%= @slide.title %>
          </h5>
          <p>
            <% if @slide.hasAbstract? %>
              <%=@slide.cleanAbstract%>
            <% elsif @slide.hasDescription? %>
              <%=@slide.cleanDescription %>
            <% end %>
            <% if @slide.hasImageNotes? %>
              <%notes=@slide.cleanImageNotes
                dates=notes.split(". ")[0..1]
                datesum=dates[0]+". "+dates[1]+". " %>
              <%= datesum %>
            <% end %>
          </p>
        </div>
    </div>
  </div>
<% end %>
  <style>
    body {
      background-color: black;
    }
  </style>

  <div class="row" data-controller="popover">
    <div class="img-info col-9" data-controller="link-helper" data-link-helper-helpwith-value="<%=JSON.generate(@slide.prepIntLinks) %>">
      <h3 class="title"> <%= @slide.cleanTitle %></h3>
    <% if @slide.hasAbstract? %>
      <h5 class="subtitle"> Abstract <hr class="itemline"> </h5>
      <p class="sdesc" data-link-helper-target="linkbox">
        <%=@slide.cleanAbstract%>
      </p>
    <% end %>
    <% if @slide.hasDescription? %>
      <h5 class="subtitle"> Description <hr class="itemline"> </h5>
      <p class="sdesc" data-link-helper-target="linkbox">
        <%=@slide.cleanDescription%>
      </p>
    <% end %>
    <% if @slide.hasReferences? %>
      <h5 class="subtitle"> References <hr class="itemline"> </h5>
      <div class="referencebox">
        <%=@slide.references%>
      </div>
    <% end %>
    <% if @slide.hasImageNotes? %>
      <h5 class="subtitle"> Image Notes <hr class="itemline"> </h5>
      <p class="sdesc">
        <%=@slide.cleanImageNotes%>
      </p>
    <% end %>
    <% if @slide.hasCuratorNotes? %>
      <h5 class="subtitle"> Curator Notes <hr class="itemline"> </h5>
      <p class="sdesc" data-link-helper-target="linkbox">
        <%=@slide.cleanCuratorNotes%>
      </p>
    <% end %>
    </div>
    <div class="img-data col-3">
      <div class="ext-links">
        <a title="Download Image" role="button" href="<%= @slide.download_link%>">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-box-arrow-in-down" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M3.5 6a.5.5 0 0 0-.5.5v8a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5v-8a.5.5 0 0 0-.5-.5h-2a.5.5 0 0 1 0-1h2A1.5 1.5 0 0 1 14 6.5v8a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 14.5v-8A1.5 1.5 0 0 1 3.5 5h2a.5.5 0 0 1 0 1z"/>
            <path fill-rule="evenodd" d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
          </svg>
        </a>
        <a title="View on Digital Kenyon" role="button" href="<%= @slide.url %>" target="_blank" rel="noreferrer noopener">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-box-arrow-up" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M3.5 6a.5.5 0 0 0-.5.5v8a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5v-8a.5.5 0 0 0-.5-.5h-2a.5.5 0 0 1 0-1h2A1.5 1.5 0 0 1 14 6.5v8a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 14.5v-8A1.5 1.5 0 0 1 3.5 5h2a.5.5 0 0 1 0 1z"/>
            <path fill-rule="evenodd" d="M7.646.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 1.707V10.5a.5.5 0 0 1-1 0V1.707L5.354 3.854a.5.5 0 1 1-.708-.708z"/>
          </svg>
        </a>
        <a title="Enter Fullscreen" role="button" id="fullscreen-button" data-action="click->fullscreen#fsActivate">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrows-move" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M7.646.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 1.707V5.5a.5.5 0 0 1-1 0V1.707L6.354 2.854a.5.5 0 1 1-.708-.708zM8 10a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 14.293V10.5A.5.5 0 0 1 8 10M.146 8.354a.5.5 0 0 1 0-.708l2-2a.5.5 0 1 1 .708.708L1.707 7.5H5.5a.5.5 0 0 1 0 1H1.707l1.147 1.146a.5.5 0 0 1-.708.708zM10 8a.5.5 0 0 1 .5-.5h3.793l-1.147-1.146a.5.5 0 0 1 .708-.708l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L14.293 8.5H10.5A.5.5 0 0 1 10 8"/>
          </svg>
        </a>
      </div>
      <div class="additional-data" data-controller="overflow">
        <div class="data-item">
          <span class="data-bold"> Identifier </span>
          <span class="data"> <%= @slide.configured_field_t_identifier[0] %></span>
        </div>
        <div class="data-item">
          <span class="data-bold">Collection</span>
          <a class="data" role="button" href="/collections/<%=@preview.collection.alph_value%>"> <%= @preview.collection.title %></a>
        </div>
        <% placeLinksHash=@preview.makePlaceLinks %>
        <div class="data-item" data-controller="link-helper" data-link-helper-helpwith-value='<%= JSON.generate(placeLinksHash) %>'>
          <span class="data-bold"> Location </span>
          <span class="data" role="button" data-link-helper-target="linkbox"> <%= @slide.configured_field_t_coverage_spatial[0] %></span>
        </div>
        <div class="data-item">
          <span class="data-bold"> Year </span>
          <% thisyear=@preview.year.number %>
          <a class="data" role="button" href="/years/<%=thisyear %>"> <%= @preview.year.number %> </a>
        </div>
        <% unless @preview.stamp.title == "unstamped" %>
          <% stamp=@preview.stamp %>
        <div class="data-item">
          <span class="data-bold"> Batch Stamp </span>
          <a class="data" role="button" href="/stamps/<%=stamp.id%>"> <%=stamp.title%> </a>
        </div>
        <% end %>

        <div class="data-item" data-overflow-target="wrapcontainer">
          <span class="data-bold"> Keywords </span>
          <span class="data">
          <% @preview.keywords.each do |word| %> 
            <a class="nowrap" role="button" href="/keywords/<%=word.id%>"> <%= word.title %></a>,
            <hr class="keyword-sep">
          <% end %>
          </span>
        </div>
   
        <div id="expand-container">
          <div class="expanded" id="expand-contract" >
            <% @slide.dates.each do |key,value|%>
            <% if value.displayable? %>
            <div class="data-item">
              <span class="data-bold"> <%= key %></span>
              <span class="data" role="button"> <%= value %></a>
            </div>
            <% end %>
          <% end %>
          <% stamp=@slide.configured_field_t_batch_stamp.to_s.lstrip.rstrip %>
          <% if stamp.length > 1 %>
            <div class="data-item">
              <span class="data-bold"> Batch Stamp </span>
              <span class="data" role="button" href="../stamps/<%= stamp %>"> <%=stamp%></a>
            </div>
          <% end %>
          <% @slide.notes.each do |key,value| %>
            <% if value.to_s.length > 1 %>
            <div class="data-item">
              <span class="data-bold"> <%= key %></span>
              <span class="data" role="button"> <%= value %></a>
            </div>
            <% end %>
          <% end %>
          </div>
        </div>
        <div class="expander-container">
          <a tabindex="0" type="button" class="data" class="help-button" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="left" 
              data-bs-content="Use the arrow keys on either side of the image to go 
              back/forth within the collection, or use the links on 
              the right to see other slides with that property.">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
              <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286m1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94"/>
            </svg>
          </a>
          <div id="expander" class="expand-button" role="button" onclick="expandContract()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
          </svg>
        </div>
        <div id="hiddenplus" style="display:none">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
          </svg>
        </div>
        <div id="hiddendash" style="display:none"> 
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
          </svg>
        </div>
      </div>
    </div>
  </div>  
  <div class="hidden" style="display:none;">
    <%=image_tag("marker-icon-green", id:"green-icon") %>
    <%=image_tag("marker-icon-blue", id:"blue-icon") %>
    <%=image_tag("marker-icon-orange", id:"orange-icon") %>
    <%=image_tag("marker-shadow", id:"shadow-icon") %>
    <%=image_tag("fov",id:"fov-icon") %>
  </div>
  <div class="row">
    <% locs=@slide.locations
       cords=locs["Array"][1]
       labels=locs["Array"][0]
       if locs["Extra"].class == Hash
         prospect=locs["Extra"]["Degrees"]
	 if prospect < 0
	   angle="None"
         else
           angle=prospect
         end
       else
         angle="None"
       end
    %>
    <div class="col-9 map-container" data-controller="map" data-map-latlong-value="<%= cords %>" data-map-labels-value="<%=labels%>", data-map-angle-value="<%=angle%>">
      <div id="map" data-map-target="container">
      </div>
    </div>
    <div class="img-data col-3">
      <div class="location-info">
      <% locs["Hash"].each do |key,value| %>
      <%   if key.include? "Object"
             color="green"          
           elsif key.include? "General"
             color="blue"
           elsif key.include? "Camera"
             color="orange"
           else 
             color=""
           end
      %>                    
        <div class="data-item" data-controller="link-helper" data-link-helper-helpwith-value="<%=JSON.generate({@preview.location.title => "/places/locations/#{@preview.location.id}"})%>">
          <span class="data-bold iconholder">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-geo-alt-fill placemark <%= color %>" viewBox="0 0 16 16">
              <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
            </svg>
	    <%= key %>
          </span>
          <span class="data" data-link-helper-target="linkbox"> <%= value %></span>
        </div>
      <% end %>
      <% puts locs %>
      <% unless locs["Extra"] == nil %>
        <div id="expand-container-loc">
          <div class="expanded" id="expand-contract-loc">
          <% locs["Extra"].each do |key,value| %>
            <% if key != "Degrees" %>
            <div class="data-item">
              <span class="data-bold loc-attr"> <%= key %></span>
              <span class="data" role="button"> <%= value %></a>
            </div>
            <% end %>
          <% end %>
          </div>
        </div>
        <div class="expander-container">
          <a tabindex="0" type="button" class="data" class="help-button" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="left" 
              data-bs-content="Precision and Angle attributes refer to the 
              Camera Location. To see an index of Precision values and their meanings, 
              go to about/locations.">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
              <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286m1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94"/>
            </svg>
          </a>
          <div id="expander-loc" class="expand-button" role="button" onclick="expandLocData()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
          </svg>
        </div>
     
      <% end %>
      </div>
    </div>
  </div>
    <script>
      function expandContract() {
        $("#expand-contract").slideToggle(350, function() {
         $("#expander").html(function() {
            return $("#expand-contract").is(":visible") ? $('#hiddendash').html() : $('#hiddenplus').html();
          });
        });
      };
      
      function expandLocData() {
        $("#expand-contract-loc").slideToggle(350, function() {
         $("#expander-loc").html(function() {
            return $("#expand-contract-loc").is(":visible") ? $('#hiddendash').html() : $('#hiddenplus').html();
          });
        });
      };
    </script>
