<h1> <%=@location.title %></h1>
<% if @location.alternates.class == String %>
  <div class="keyword-about">
    Also known as <%= @location.alternates %> 
  </div>
<% end %>

<div class="hidden" style="display:none;">
  <%=image_tag("marker-icon-green.png", id:"green-icon") %>
  <%=image_tag("marker-icon-blue.png", id:"blue-icon") %>
  <%=image_tag("marker-icon-orange.png", id:"orange-icon") %>
  <%=image_tag("marker-shadow.png", id:"shadow-icon") %>
  <%=image_tag("fov.png",id:"fov-icon") %>
</div>
<div class="location-map" data-controller="bigmap back-forth"
   data-bigmap-latlong-value="<%= @mapHash[:coordinates] %>"
   data-bigmap-labels-value="<%= @mapHash[:labels] %>"
   data-bigmap-scales-value="<%= @mapHash[:scales] %>"
> 
  <div id="map" data-bigmap-target="container"> 
  </div>
</div> 
<h4> Contains <%= @location.previews.size %> slides </h4>
<%= render partial:"layouts/previewlist", object:@location, locals:{align:"center"} %>
