<div class="hidden" style="display:none;">
  <%=image_tag("marker-icon-green.png", id:"green-icon") %>
  <%=image_tag("marker-icon-blue.png", id:"blue-icon") %>
  <%=image_tag("marker-icon-orange.png", id:"orange-icon") %>
  <%=image_tag("marker-shadow.png", id:"shadow-icon") %>
  <%=image_tag("fov.png",id:"fov-icon") %>
</div>
<div class="location-map" data-controller="bigmap back-forth"
   data-bigmap-latlong-value="<%= @mapHash[:coordinates] %>"
   data-bigmap-labels-value="<%= @mapHash[:labels] %>"
   data-bigmap-scales-value="<%= @mapHash[:scales] %>"
> 
  <div id="map" data-bigmap-target="container"> 
  </div>
</div> 
<h1 class="large-title">
  <%= @location.title %>
  <span class="item-type">
    Location
  </span>
</h1>
<div class="attribute-about">
Contains <%= @location.previews.size %> slides. 
<% if @location.alternates.class == String %>
  Also known as <%= @location.alternates %> 
<% end %>
</div>

<%= render partial:"layouts/previewlist", object:@location, locals:{align:"center"} %>
