<h1 class="large-title"> Keywords <span class="keyword-shortcuts"> Jump to <a class="purple" href="#alphabetical"> Alphabetical</a>, <a class="purple" href="#wordcloud"> Wordcloud </a> </span></h1>

<div class="row row-cols-2 keyword-categories">
<% @periods.each do |key,wordlist| %>
  <div class="timeperiod row">
    <% if key=="Period" %>
      <h5> Periods </h5>
    <% elsif key=="Century" %>
      <h5> Centuries </h5>
    <% end %>
    <div class="century-list">
    <% wordlist.each do |posword|
         id=@periodObjects[posword]
         if id.class == Integer %>
           <div class="century-item">
             <a class="purple" href="/keywords/<%= id %>"> <%= posword %> </a>
           </div>
      <% end 
       end %>
    </div>
  </div>
<% end %>
</div>
  
<h3 id="alphabetical" class="keyword-subtitle" > Alphabetical </h3>
<hr class="navline">
<div id=allkeywords>
<% @keywords.order(:title).pluck(:title,:id).each do |word,id| %>
  <div class="keyword-item">
    <a class="purple" href="/keywords/<%=id%>"> <%=word%> </a>
  </div>
<% end %>
</div>
<h3 id="wordcloud" class="keyword-subtitle" style="margin-top:1.5in"> Wordcloud </h3>
<hr class="itemline">
<div class="keyword-container">
<% @keywords.sort_by{|kw| -kw.previews.size}.each do |word| 
   count=word.previews.size %>
  <span class="keyword-item" style="font-size: <%= 50*Math.log(count+3) %>%;"> 
    <a class="purple" href="/keywords/<%=word.id%>"><%= word.title %></a>
  </span>
<% end %>

<script>
  document.querySelector(".nav-link.active").classList.remove("active");
  document.getElementById("browse-link").classList.add("active");
</script>
