<% 
   imageNums=Array.new
   orientations = Hash.new
   links=Preview.where(sorting_number:numbers).pluck(:sorting_number,:img_link, :orientation)
   links.sort_by{|l| numbers.index(l[0])}.each do |link|
     imageNums.push(link[1].split("/")[-2].to_i)
     orientations[link[0]]=link[2]
   end
%>

<div class="results-box" data-controller="back-forth" data-back-forth-currentlist-value="<%=numbers%>" data-back-forth-currentimages-value="<%=imageNums%>">
<% results.each do |slide| %>
  <% sortNum=slide.sortingNumber %>
  <a class="result-link" href="/slides/<%= sortNum %>" data-action="click->back-forth#setList" data-turbo-frame="_top">
  <div class="row search-result">
    <% if orientations[sortNum] == "P"
         classtoadd = "vert"
       else 
         classtoadd = ""
       end %> 
         
    <img class="result-image <%=classtoadd %>" src="<%= slide.medimg %>">
    <div class="result-info">
      <h5> <%= slide.title %> </h5>
      <p> <%= slide.makePreview(char_limit:200) %> </p> 
    </div>
  </div>
  <hr class="navline">
  </a>
<% end %>
</div>
